form {
  label {
    display: block;
    margin: 10px 0 5px;
    color: lighten($color-acento, 10%);
  }

  input,
  textarea {
    width: 100%;
    padding: 7px;
    background-color: darken($color-fondo, 3%);
    color: $color-claro;
    border: 1px solid $color-borde;
    border-radius: 4px;
  }

  button {
    margin-top: 15px;
    @include btn-styles($color-principal);

    &:hover {
      background-color: $color-hover;
    }
  }
}
