// Paleta
$color-principal: #6a0dad;
$color-hover: #7d3cff;
$color-fondo: #1a1a1a;
$color-claro: #f0e9ff;
$color-acento: #dcd0ff;
$color-acento2: #a98adb;
$color-footer: #321325;
$color-card: #2b2b2b;
$color-boton: #350358;
$color-borde: #6a0dad;

// Tipografía
$fuente-principal: Arial, sans-serif;

// Espaciados
$padding-base: 10px;