/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #f0e9ff;
  line-height: 1.6;
}



/* Navegación */
.navbar-nav .nav-link.active {
  background-color: #9966bd;
  border-radius: 0.25rem;
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Títulos */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #dcd0ff;
  text-align: center;
  margin: 40px 0 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.5rem;
  font-style: italic;
  color: #a98adb;
  text-align: center;
  margin-bottom: 20px;
}

section p.lead {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: #e0d4f7;
}

section.text-center {
  background-color: #2b2b2b;
  padding: 40px 20px;
  border-radius: 10px;
}

section ul.list-inline {
  background-color: #3a2e4d;
  padding: 15px 10px;
  border-radius: 8px;
}

/* Categorías */
.lista-productos li {
  padding: 0.5rem 1rem;
  background-color: #6a0dad;
  color: white;
  border-radius: 0.25rem;
  margin: 0.3rem;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.lista-productos:hover {
  background-color: #7d3cff;
  cursor: pointer;
}

/* Botón personalizado */
.btn-badboy {
  background-color: #350358;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.btn-badboy:hover {
  background-color: #7d3cff;
}

/* Card */
.card {
  border: none;
  border-radius: 5px;
  background-color: #2b2b2b;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #dcd0ff;
}

.card-text {
  font-size: 0.95rem;
  color: #e3daf7;
}

.card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Footer */
footer {
  background-color: #321325;
  color: #f8e7ff;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
  margin-top: 30px;
}

/* Formulario */
form label {
  display: block;
  margin: 10px 0 5px;
  color: #e5d2ff;
}

form input,
form textarea {
  width: 100%;
  padding: 7px;
  background-color: #1f1f1f;
  color: #f5eaff;
  border: 1px solid #6a0dad;
  border-radius: 4px;
}

form button {
  margin-top: 15px;
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #7d3cff;
}

/* Info contacto */
.info-contacto {
  background-color: #2e1f39;
  padding: 30px;
  border-radius: 10px;
}

.info-contacto ul li a {
  color: #c5a4f7;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    height: 200px;
  }

  h1 {
    font-size: 2rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.85rem;
  }

  .navbar-nav {
    text-align: center;
  }
}
